{% extends "aut_app/base_generica.html" %}

{%block title %}Registro{% endblock %}

{%block content %}
    <h1>Crear Entregas</h1>
    <form method="post"action="{% url 'crear_entregas' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="cantidad">cantidad:</label>
            <input type="int" id="cantidad" name="cantidad" required>
        </div>
        <div class="form-group">
            <label for="fecha_entrega">Fecha entrega:</label>
            <input type="int" id="fecha_entrega" name="fecha_entrega" required>
        </div>
        <div class="form-group">
            <label for="etapa">Etapa:</label>
            <select id="tipo_entregas" name="tipo_entregas" required>
                <option value="pre">Pre Ejecución</option>
                <option value="eje">Ejecución</option>
                <option value="liq">Liquidación</option>
            </select>
        <button type="submit">Guardar Entrega</button>
    </form>
    <a href="{% url 'crear_entregas' %}">Volver a la lista de Entregas</a>
{% endblock %}